@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


/* Navigation styling */
nav
{
    height: 85px;
    width: 85%;
    margin: 0 7.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li a:hover{
    color: purple;
}

.search{
    padding-left: 10px;
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid grey;
    display: flex;
    align-items: center;
}
.search-input{
    border: none;
    outline: none;
}
.search-input:focus{
    border: none;
    outline: none;
}
.create-blog-button{
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #1874FD;
    padding: 8px;
}
.create-blog-button:hover{
    border: 1px solid #1874FD;
    color: #1874FD;
    background-color: #ffffff;
    padding: 8px;
}
#new-blog
{
    display: inline;
    vertical-align: middle;
}
/* styling for article */

.coffee-image{
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
}
.coffee{
    width: 1150px;
    height: 500px;
    border-radius: 10px;
}
.title-body{
    margin: 0 105px 40px 105px;
}
.author{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.day{
    margin-left: 20px;
}
article{
    margin: 0 105px 0 105px;
}
section{
    margin: 20px 0 20px 0;
}
.top-paragraph{
    padding: 20px 0 0 0;
}
.article-list{
    display: flex;
    flex-direction: column;
}
.article-listed{
    list-style-position: inside;
}